<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="Aria5.DevExpress.MainSystem.WebServiceRole.AzureLocalStorageTraceListener, Aria5.DevExpress.MainSystem.WebServiceRole"/>
    </sharedListeners> 
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=u4hfi3e5h9.database.windows.net;Initial Catalog=Aria5SystemAdmin_Staging;User ID=azuresqladmin;Password=aria_123" />
    <add name="AzureMobileConnectionString" connectionString="Endpoint=sb://mobileserviceresto-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=x3TIEN74DpHlKwvS+oZS0a1r52kqZ8u2JqQibzAhvQg=" />
  </connectionStrings>

  <appSettings>
      <add key="SchemaName" value="dbo" />
    <add key="accountName" value="portalvhdsc5pxbhgplf1gf" />
    <add key="accountKey" value="cZGvbB0sEQJR4RF19qM4AdPz9opv5k25E9GXUFL7G1OGaZDW592dEKcP/+btSdVsd1F3tYs9bDXwW/kGPM94Bg==" />
    <!--  Sara.N 30/11/2015 Publish Profile change Conenction String  [Start]-->

    <add key="ProductionConnectionString" value="XpoProvider=MSSqlServer;data source=u4hfi3e5h9.database.windows.net;user id=azuresqladmin;password=aria_123;initial catalog=Aria5SystemAdmin;Persist Security Info=true" />
    <add key="StagingConnectionString" value="XpoProvider=MSSqlServer;data source=u4hfi3e5h9.database.windows.net;user id=azuresqladmin;password=aria_123;initial catalog=Aria5SystemAdmin_Staging;Persist Security Info=true" />

    <!--  Sara.N 30/11/2015 Publish Profile change Conenction String  [End]-->
  </appSettings>
  
  <system.web>
    <customErrors mode="Off" />
  </system.web>  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime targetFramework="4.5" executionTimeout="9000" />
  </system.web>

  <system.serviceModel>
    <bindings />


    <client />
    
    

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <!-- Cross Domain Solution -->
        <!-- TODO: don't let anyone make requests - only approved clients -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>