<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountWebServiceSoap" />
                <binding name="AccountWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://2102493a4b824971ad5a017346a7e01b.cloudapp.net/WebServices/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap"
                contract="AccountServiceReference1.AccountWebServiceSoap"
                name="AccountWebServiceSoap" />
            <endpoint address="http://accountregistrationwebservice.cloudapp.net/WebServices/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap1"
                contract="ServiceReference1.AccountWebServiceSoap" name="AccountWebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>