<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountWebServiceSoap" />
                <binding name="AccountWebServiceSoap1" />
                <binding name="AccountWebServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ariawebservicetest.cloudapp.net/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap"
                contract="ServiceReference1.AccountWebServiceSoap" name="AccountWebServiceSoap" />
            <endpoint address="http://ariawebservicetest.cloudapp.net/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap1"
                contract="ServiceReference2.AccountWebServiceSoap" name="AccountWebServiceSoap1" />
            <endpoint address="http://ariaaccountservice.cloudapp.net/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap2"
                contract="ServiceReference3.AccountWebServiceSoap" name="AccountWebServiceSoap2" />
        </client>
    </system.serviceModel>
</configuration>