<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Project->ASP.NET Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" requirePermission="false" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!--<section name="DevExpressXpoProfiler" type="DevExpress.Xpo.Logger.ProfilerConfigSection, DevExpress.Data.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" allowLocation="true" allowDefinition="Everywhere" />-->
  </configSections>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" theme="SoftOrange" styleSheetTheme="" customThemeAssemblies="" baseColor="" font="" />
    <settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" accessibilityCompliant="false" bootstrapMode="Bootstrap3" checkReferencesToExternalScripts="true" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <!-- Doaa Log File-->
    <add key="TraceLogLocation" value="ApplicationFolder"/>
     <!-- Doaa Log File-->
    <add key="Modules" value="" />
    <add key="ErrorReportEmail" value="" />
    <add key="ErrorReportEmailServer" value="" />
    <add key="BuildDropLocation" value="\\\\TF_SERVER\\Builds" />
    <!--<add key="TFSCollection" value="http://tf_server:8080/tfs/Aria_Dev-2015" />-->
    <add key="TFSCollection" value="http://tf_server:8080/tfs/Aria-Fox/" />
    <add key="buildAgentName" value="Win8AriaAgent" />
    <add key="buildControllerName" value="Win8AriaController" />
    <add key="BuildWorkSpace" value="BuildWorkSpace" />
    <add key="tfsCheckinWorkSpace" value="WorkSpaceBD" />
    <add key="tfsUri" value="http://tf_server:8080/tfs/" />
    <add key="tfsUserName" value="ProjectAdmin" />
    <add key="tfsPassWord" value="aria_123" />
    <add key="tfsDomain" value="TF_Server" />
    <add key="tfsProjectName" value="1touchaway" />
    <add key="tfsGroupName" value="1touchaway Team" />
    <add key="tfsWorkSpacePath" value="D:\Dev\BuildWorkSpace" />
    <add key="tfsCheckinWorkSpaceCreated" value="NewWorkSpace" />
    <!--
		<add key="ErrorReportEmailSubject" value="{0:ExceptionMessage}"/>
		<add key="ErrorReportEmailFrom" value="null@nospam.com"/>
		<add key="ErrorReportEmailFromName" value="{0:ApplicationName} Error handling system"/>    
	    <add key="Languages" value="de;es;ja;ru" />
		-->
    <add key="SimpleErrorReportPage" value="" />
    <add key="RichErrorReportPage" value="Error.aspx" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="SchemaName" value="DBO" />
    <add key="FTBUsername" value="1TouchAwayStaging\AriaFTP" />
    <add key="FTBPassword" value="aria_123" />
    <!--  Sara.N , 26/04/2015 [Tracking# + Aria5-DevExpress-Build]_Programming [Start]-->
    <add key="FTBDefaultDirctory" value="ftp://waws-prod-ch1-001.ftp.azurewebsites.windows.net/site/wwwroot/images/" />
    <add key="FTBDefaultDirctory1" value="ftp://waws-prod-ch1-001" />
    <add key="FTBUploadDirctory" value=".ftp.azurewebsites.windows.net/site/wwwroot/images/" />
    <!--  Sara.N , 26/04/2015 [Tracking# + Aria5-DevExpress-Build]_Programming [END]-->
    <!--  Sara.N 12/08/2015 [Tracking# + Aria5-DevExpress-DataManager]_Programming,Aria 5 - 1TouchAway - Iteration # 2015-05 [Start]-->
    <add key="FTBScriptDirectory" value="ftp://waws-prod-ch1-001.ftp.azurewebsites.windows.net/site/wwwroot/Scripts/" />
    <!--  Sara.N 12/08/2015 [Tracking# + Aria5-DevExpress-DataManager]_Programming,Aria 5 - 1TouchAway - Iteration # 2015-05 [Start]-->
    <!--  Sara.N 30/11/2015 Publish Profile change Conenction String  [Start]  -->
    <add key="ProductionConnectionString" value="Data Source=SYSTEMADMIN\SQLSERVER;Initial Catalog=Aria5SystemAdmin_Test;User ID=sa;Password=aria_123" />
    <add key="StagingConnectionString" value="Data Source=SYSTEMADMIN\SQLSERVER;Initial Catalog=Aria5SystemAdmin_Staging;User ID=sa;Password=aria_123" />
    <!---  <add key="StagingConnectionString" value="Data Source=NSDE_SARHN;Initial Catalog=Aria5SystemAdmin_Staging;User ID=sa;Password=aria_123"/> -->
    <!--  Sara.N 30/11/2015 Publish Profile change Conenction String  [End]-->
    <!-- 
    Sara.N 12/08/2015 [Tracking# + Aria5-DevExpress-DataManager]_Programming,Aria 5 - 1TouchAway - Iteration # 2015-05 [END]
		Use the one of predefined values: None, ApplicationFolder. The default value is ApplicationFolder.
 
		<add key="TraceLogLocation" value="ApplicationFolder"/>
		   -->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
    <handlers>
      <!--    Sara Start-->
      <!--<add name="ASPxUploadProgressHandler" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" preCondition="integratedMode" />-->
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral,PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <!--end -->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="XafHttpHandler" preCondition="integratedMode" verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <!-- <add name="ASPxHttpHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
      <!--   <add name="ASPxHttpHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
      <add name="ASPxHttpHandlerModuleXAF" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
  </system.webServer>
  <!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ariaftp;AccountKey=6Y6Ultta6M1C/9t0bCWP/KSajKiV7wwkDYiuXSmNiMCIyQ9y8I7fasibOwtqL8xKK/6t8mEL05hakTeyn/OSRw==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ariaftp;AccountKey=6Y6Ultta6M1C/9t0bCWP/KSajKiV7wwkDYiuXSmNiMCIyQ9y8I7fasibOwtqL8xKK/6t8mEL05hakTeyn/OSRw==" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <!--<httpRuntime />-->
    <httpRuntime requestValidationMode="2.0" />
    <!--<pages theme="Aqua" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"> -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="cc2" namespace="DevExpress.ExpressApp.Web.Templates.ActionContainers" assembly="DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="tc" namespace="DevExpress.ExpressApp.Web.Templates.Controls" assembly="DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="cc4" namespace="DevExpress.ExpressApp.Web.Controls" assembly="DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="cc3" namespace="DevExpress.ExpressApp.Web.Templates" assembly="DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxrp" namespace="DevExpress.Web" assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxge" namespace="DevExpress.Web" assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
    <httpHandlers>
      <!--sara start-->
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <!--<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
      <!--sara end -->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <!--
		Set compilation debug="true" to insert debugging
		symbols into the compiled page. Because this
		affects performance, set this value to true only
		during development.
		-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.ExpressApp.Xpo.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Security.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Persistent.Base.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Objects.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Validation.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Images.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Reports.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1.Extensions, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Reports.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.FileAttachment.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.CloneObject.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Persistent.BaseImpl.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.ConditionalAppearance.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraEditors.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Aria5.DevExpress.MainSystem.Module, Version=1.0.5750.23242, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.ExpressApp.ViewVariantsModule.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Aria5SystemAdmin.Module, Version=15.9.0.7, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.ExpressApp.AuditTrail.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Aria5SystemAdmin.Module, Version=16.1.0.25, Culture=neutral, PublicKeyToken=null" />
        <add assembly="Aria5SystemAdmin.Module, Version=16.2.0.10, Culture=neutral, PublicKeyToken=null" />
        <add assembly="Aria5.DevExpress.OneTouchAway.Module, Version=1.0.5891.22434, Culture=neutral, PublicKeyToken=null" />
        <add assembly="Aria5.DevExpress.OneTouchAway.Module, Version=1.0.5891.42040, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.Web.ASPxGauges.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5944.26458, Culture=neutral, PublicKeyToken=null" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5946.29502, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.ExpressApp.Notifications.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Notifications.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5946.30338, Culture=neutral, PublicKeyToken=null" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5947.18236, Culture=neutral, PublicKeyToken=null" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5947.19407, Culture=neutral, PublicKeyToken=null" />
        <add assembly="GaugePropertyEditor.Web, Version=1.0.5947.19481, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.ExpressApp.ReportsV2.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.ReportsV2.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Chart.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Kpi.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v17.1.UI, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Chart.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Aria5SystemAdmin.Module, Version=16.6.0.21, Culture=neutral, PublicKeyToken=null" />
        <add assembly="Microsoft.Azure.NotificationHubs, Version=2.16.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Aria5.DevExpress.OneTouchAway.Module, Version=1.0.5946.24080, Culture=neutral, PublicKeyToken=null" />
        <add assembly="HyperLinkPropertyEditor.Web, Version=1.0.6175.22153, Culture=neutral, PublicKeyToken=null" />
        <add assembly="DevExpress.Charts.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Validation.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <!--
		The <authentication> section enables configuration
		of the security authentication mode used by
		ASP.NET to identify an incoming user.
		-->
    <!--<identity impersonate="true" />-->
    <authentication mode="Forms">
      <forms name="Login" loginUrl="Login.aspx" path="/" timeout="10"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--
		The <customErrors> section enables configuration
		of what to do if/when an unhandled error occurs
		during the execution of a request. Specifically,
		it enables developers to configure html error pages
		to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@ariany.com">
        <network host="smtp.gmail.com" password="Aria_biz" port="587" userName="info@ariany.com" targetName="Aria Systems" enableSsl="true" />
      </smtp>
      <!--<smtp deliveryMethod="Network">
            <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="xxxxxxx@ariany.com" password="xxxxxxxxxxx"/>
        </smtp>-->
    </mailSettings>
  </system.net>
  <!-- For applications with a security system -->
  <location path="DXX.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ImageResource.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MoveFooter.js">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/Progress.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/HeaderBkg.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/ButtonBkg.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ApplyForJobVacancy.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService1Soap2" />
        <binding name="BasicHttpBinding_IClientService" />
        <binding name="ATWSSoap"  closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IDataService" />
        <binding name="BasicHttpBinding_ILogService" />
        <binding name="BasicHttpBinding_IClientService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.171:4567/webService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap2"
        contract="ServiceReferenceTfsManager.WebService1Soap" name="WebService1Soap2" />
      <endpoint address="http://ra.ariany.com/Client%20Manager/ClientService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
        contract="ServiceReferenceClientService.IClientService" name="BasicHttpBinding_IClientService" />
      <endpoint address="https://webservices16.autotask.net/ATServices/1.5/atws.asmx"
        binding="basicHttpBinding" bindingConfiguration="ATWSSoap" contract="SubAutoTask1.ATWSSoap"
        name="ATWSSoap" />
      <endpoint address="http://ra.ariany.com/Client%20Manager/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
        contract="DataService.IDataService" name="BasicHttpBinding_IDataService" />
      <endpoint address="http://ra.ariany.com/Client%20Manager/LogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService"
        contract="LogService.ILogService" name="BasicHttpBinding_ILogService" />
      <endpoint address="http://ra.ariany.com/Client%20Manager/ClientService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
        contract="ClientService.IClientService" name="BasicHttpBinding_IClientService" />
      <endpoint address="http://ra.ariany.com/Client%20Manager/ClientService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService1"
        contract="ServiceReferenceClientService.IClientService" name="BasicHttpBinding_IClientService1" />
      <endpoint address="http://192.168.1.171:4567/webservice1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="TFSMangerServiceReference.WebService1Soap" name="WebService1Soap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
    <services>
      <service name="Aria5SystemAdmin.Web.MyLogService">
        <endpoint address="" binding="wsHttpBinding" contract="DevExpress.Xpo.Logger.Transport.ILogSource" /> 
        <endpoint address="https://webservices16.autotask.net/ATServices/1.5/atws.asmx" binding="basicHttpBinding" bindingConfiguration="ATWSSoap" contract="SubAutoTask1.ATWSSoap" name="ATWSSoap" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
        <switches>
           <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <add name="XPO" value="3" />
    </switches>
  </system.diagnostics>
  <!--<DevExpressXpoProfiler serverType="DevExpress.Xpo.Logger.Transport.LogServer" serverAssembly="DevExpress.Xpo.v12.2, Version=12.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" categories="SQL;Session;DataCache" port="10855" />-->
</configuration>