<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService1Soap1" />
        <binding name="ATWSSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ATWSSoap1" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="ATWSSoap2" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="ATWSSoap3" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="ATWSSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="ATWSSoap5" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="WebService1Soap2" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="ATWSSoap6">
          <security mode="Transport" />
        </binding>
        <binding name="ATWSSoap7" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.171:4567/webservice1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="TFSMangerServiceRefrence.WebService1Soap" name="WebService1Soap" />
      <endpoint address="http://196.218.241.88:4567/webService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap1"
        contract="TFSMangerServiceReference.WebService1Soap" name="WebService1Soap1" />
      <endpoint address="https://webservices16.autotask.net/atservices/1.5/atws.asmx"
        binding="basicHttpBinding" bindingConfiguration="ATWSSoap" contract="SubAutoTask1.ATWSSoap"
        name="ATWSSoap" />
      <endpoint address="https://webservices16.autotask.net/atservices/1.5/atws.asmx"
        binding="basicHttpBinding" bindingConfiguration="ATWSSoap4"
        contract="SubAutoTask1.ATWSSoap" name="ATWSSoap1" />
      <endpoint address="http://192.168.1.171:4567/webservice1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap2"
        contract="ServiceReferenceTfsManager.WebService1Soap" name="WebService1Soap2" />
      <endpoint address="https://webservices16.autotask.net/ATServices/1.5/atws.asmx"
        binding="basicHttpBinding" bindingConfiguration="ATWSSoap6"
        contract="SubAutoTask1.ATWSSoap" name="ATWSSoap2" />
    </client>
  </system.serviceModel>
</configuration>