<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aria.Configuration.Server.Properties.Settings.System_MasterConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin\Debug\System.Master.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Aria.Configuration.Server.Properties.Settings.System_MasterConnectionString1"
            connectionString="Data Source=.\SQLSERVER2008R2;Initial Catalog=System.Master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>