<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountWebServiceSoap" />
                <binding name="AriaSynchronizationServiceSoap" />
                <binding name="AriaSynchronizationServiceSoap1" />
                <binding name="AccountWebServiceSoap1" />
                <binding name="AriaUserWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://f2e84108f3184d96a9b5fec0e3e0f79c.cloudapp.net/WebServices/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap"
                contract="ServiceReference1.AccountWebServiceSoap" name="AccountWebServiceSoap" />
            <endpoint address="http://c79e6a86dcc047dd9775a8a7379c35b6.cloudapp.net/WebServices/AriaSynchronizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AriaSynchronizationServiceSoap"
                contract="ServiceReference2.AriaSynchronizationServiceSoap"
                name="AriaSynchronizationServiceSoap" />
            <endpoint address="http://cfef94dce80d4115b8f718520297f89c.cloudapp.net/WebServices/AriaSynchronizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AriaSynchronizationServiceSoap"
                contract="ServiceReference3.AriaSynchronizationServiceSoap"
                name="AriaSynchronizationServiceSoap" />
            <endpoint address="http://15e3a99f26ef43839c48460492e12e01.cloudapp.net/WebServices/AccountWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountWebServiceSoap1"
                contract="AccountWebservice.AccountWebServiceSoap" name="AccountWebServiceSoap1" />
            <endpoint address="http://37d1af78366a42af9996e585bd6a3c04.cloudapp.net/WebServices/AriaUserWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AriaUserWebServiceSoap"
                contract="AriaUserWebServiceRefrence.AriaUserWebServiceSoap"
                name="AriaUserWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>