<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AriaSynchronizationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://61d7847a71d74eef8922ad4d21e4ff83.cloudapp.net/WebServices/AriaSynchronizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AriaSynchronizationServiceSoap"
                contract="ServiceReferenceSync.AriaSynchronizationServiceSoap"
                name="AriaSynchronizationServiceSoap" />
          <endpoint address="http://196.218.241.88:4567/webService1.asmx"
         binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
         contract="TFSService.WebService1Soap" name="WebService1Soap" />
        </client>
    
    </system.serviceModel>
</configuration>
