<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='Data Source=ARIA-MAHER\SQLEXPRESS;Initial Catalog=&quot;Task Pane System.Master&quot;;Integrated Security=True;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />
    <add name="Test.Properties.Settings.Task_Pane_System_MasterConnectionString"
      connectionString="Data Source=ARIA-MAHER\SQLEXPRESS;Initial Catalog=&quot;Task Pane System.Master&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  
</configuration>
