SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentifierSegmentValidEntry]'))
BEGIN 
/****** Object:  Table [dbo].[IdentifierSegment]    Script Date: 10/12/2020 2:56:11 AM ******/
DROP TABLE [dbo].[IdentifierSegmentValidEntry]

END
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentifierSegmentFormat]'))
BEGIN 
/****** Object:  Table [dbo].[IdentifierSegment]    Script Date: 10/12/2020 2:56:11 AM ******/
DROP TABLE [dbo].[IdentifierSegmentFormat]

END
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentifierSegment]'))
BEGIN 
  DROP TABLE [dbo].[IdentifierSegment]
END





IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityTypeSettings]'))
BEGIN 
  DROP TABLE  [dbo].[EntityTypeSettings]
END




IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityAttachment]'))
BEGIN 
  DROP TABLE  [dbo].[EntityAttachment]
END

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attachment]'))
BEGIN 
  DROP TABLE  [dbo].[Attachment]
END


IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttachmentCategory]'))
BEGIN 
  DROP TABLE  [dbo].[AttachmentCategory]
END

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityTypeRelationship]'))
BEGIN 
  DROP TABLE  [dbo].[EntityTypeRelationship]
END

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Entity]'))
BEGIN 
  DROP TABLE  [dbo].[Entity]
END


IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityCategory]'))
BEGIN 
  DROP TABLE  [dbo].[EntityCategory]
END

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityClassification]'))
BEGIN 
  DROP TABLE  [dbo].[EntityClassification]
END
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityStatus]'))
BEGIN 
  DROP TABLE  [dbo].[EntityStatus]
END


IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EntityType]'))
BEGIN 
  DROP TABLE  [dbo].[EntityType]
END

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentifierStructure]'))
BEGIN 
  DROP TABLE  [dbo].[IdentifierStructure]
END 

CREATE TABLE [dbo].[IdentifierStructure](
	[OID] [uniqueidentifier] NOT NULL,
	[IdentifierStructureId] [nchar](30) NULL,
	[Description] [nchar](100) NULL,
	[NoOfSegments] [tinyint] NULL,
	[IdentifierLabel] [nchar](50) NULL,
	[IsVisible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[AttachmentCategory]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[AttachmentCategory](
	[oid] [uniqueidentifier] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[ParentCategory] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ AttachmentCategory] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[Attachment]    Script Date: 10/08/2020 13:50:36 ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
CREATE TABLE [dbo].[Attachment](
	[oid] [uniqueidentifier] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[attachment] [varbinary](max) NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING OFF

/****** Object:  Table [dbo].[EntityType]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityType](
	[oid] [uniqueidentifier] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[parenttype] [uniqueidentifier] NULL,
	[IdentifierStructure] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EntityType] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[IdentifierSegment]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[IdentifierSegment](
	[OID] [uniqueidentifier] NOT NULL,
	[IdentifierStructure] [uniqueidentifier] NULL,
	[Position] [tinyint] NULL,
	[Description] [nchar](50) NULL,
	[Caption] [nchar](50) NULL,
	[Length] [tinyint] NULL,
	[SeparatorAfter] [nchar](1) NULL,
	[Dimension] [tinyint] NULL,
	[ValueType] [nchar](20) NULL,
	[InputMask] [nchar](30) NULL,
	[Format] [nchar](30) NULL,
	[IdentitySeed] [int] NULL,
	[IdentityIncrement] [int] NULL,
	[NextIdentity] [int] NULL,
	[EntityType] [uniqueidentifier] NULL,
	[EntityTypeID] [nchar](30) NULL,
	[TableName] [nchar](100) NULL,
	[AttributeName] [nchar](100) NULL,
	[ValueFilter] [nvarchar](max) NULL,
	[AllowMultipleValuesRow] [bit] NULL,
	[MatrixDirection] [nchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityTypeSettings]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityTypeSettings](
	[oid] [uniqueidentifier] NOT NULL,
	[entitytypeoid] [uniqueidentifier] NOT NULL,
	[entityname] [nchar](30) NOT NULL,
	[uselivetile] [bit] NULL,
	[keyexpression] [nchar](100) NULL,
	[keyvalue] [nchar](100) NULL,
	[moduleid] [nchar](2) NULL,
	[viewinterface] [nchar](20) NULL,
	[addnew] [bit] NULL,
	[addinterface] [nvarchar](max) NULL,
	[relatedreportname] [nchar](20) NULL,
	[extradata] [nvarchar](max) NULL,
	[searchfield] [nvarchar](30) NULL,
	[mastertable] [nchar](30) NULL,
	[mastertableindex] [nchar](30) NULL,
	[mastertableindexexpression] [nvarchar](max) NULL,
	[indexexpressiondefaultvalue] [nvarchar](max) NULL,
	[recentfields] [nchar](100) NULL,
	[newmodeparameters] [nchar](100) NULL,
	[entitydescfield] [nchar](30) NULL,
	[entityobjlink] [nchar](30) NULL,
	[entityNotes] [nchar](30) NULL,
	[entityDefaultImage] [nchar](100) NULL,
        [entityRelatedProgs] [nchar](100) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityTypeRelationship]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityTypeRelationship](
	[oid] [uniqueidentifier] NOT NULL,
	[RelatedTypeName] [nchar](100) NOT NULL,
	[EntityTypeName] [nchar](100) NOT NULL,
	[RelatedType] [uniqueidentifier] NULL,
	[EntityType] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EntityTypeRelationship] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityStatus]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityStatus](
	[oid] [uniqueidentifier] NOT NULL,
	[ID] [nchar](30) NOT NULL,
	[description] [nchar](100) NULL,
	[EntityType] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EntityStatus] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityClassification]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityClassification](
	[oid] [uniqueidentifier] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[ParentClassification] [uniqueidentifier] NULL,
	[EntityType] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EntityClassification] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityCategory]    Script Date: 10/08/2020 13:50:36 ******/


CREATE TABLE [dbo].[EntityCategory](
	[oid] [uniqueidentifier] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[name] [nchar](100) NOT NULL,
	[ParentCategory] [uniqueidentifier] NULL,
	[EntityType] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ EntityCategory] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Entity]    Script Date: 10/08/2020 13:50:36 ******/
CREATE TABLE [dbo].[Entity](
	[oid] [uniqueidentifier] NOT NULL,
	[type] [uniqueidentifier] NOT NULL,
	[id] [nchar](30) NOT NULL,
	[description] [nchar](30) NOT NULL,
	[status] [uniqueidentifier] NULL,
	[notes] [nvarchar](max) NULL,
	[extradata] [nvarchar](max) NULL,
	[typeId] [nchar](30) NOT NULL,
	[StatusId] [nchar](30) NULL,
	[Category] [uniqueidentifier] NULL,
	[Categoryid] [nchar](30) NULL,
	[Classification] [uniqueidentifier] NULL,
	[ClassificationId] [nchar](30) NULL,
 CONSTRAINT [PK_Entity] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[IdentifierSegmentValidEntry]    Script Date: 10/08/2020 13:50:36 ******/
CREATE TABLE [dbo].[IdentifierSegmentValidEntry](
	[OID] [uniqueidentifier] NOT NULL,
	[IdentifierSegment] [uniqueidentifier] NULL,
	[AttributeValue] [nchar](100) NULL,
	[UserValue] [nchar](30) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[IdentifierSegmentFormat]    Script Date: 10/08/2020 13:50:36 ******/
CREATE TABLE [dbo].[IdentifierSegmentFormat](
	[OID] [uniqueidentifier] NOT NULL,
	[IdentifierSegment] [uniqueidentifier] NULL,
	[Title] [nchar](100) NULL,
	[InputMask] [nchar](30) NULL,
	[Format] [nchar](30) NULL,
	[IdentitySeed] [int] NULL,
	[IdentityIncrement] [int] NULL,
	[NextIdentity] [int] NULL,
	[Expression] [nvarchar](max) NULL,
	[ApplyWhen] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[EntityAttachment]    Script Date: 10/08/2020 13:50:36 ******/
CREATE TABLE [dbo].[EntityAttachment](
	[oid] [uniqueidentifier] NOT NULL,
	[entity] [uniqueidentifier] NOT NULL,
	[entityid] [nchar](30) NOT NULL,
	[Attachment] [uniqueidentifier] NOT NULL,
	[AttachmentName] [nchar](100) NOT NULL,
	[AttachmentCategory] [uniqueidentifier] NULL,
	[AttachmentCategoryName] [nchar](100) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_EntityAttachment] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
/*
/****** Object:  Default [DF_Attachment_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Attachment] ADD  CONSTRAINT [DF_Attachment_oid]  DEFAULT (newid()) FOR [oid]
/****** Object:  Default [DF_AttachmentCategory_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[AttachmentCategory] ADD  CONSTRAINT [DF_AttachmentCategory_oid]  DEFAULT (newid()) FOR [oid]
/****** Object:  Default [DF_Entity_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity] ADD  CONSTRAINT [DF_Entity_oid]  DEFAULT (newid()) FOR [oid]
/****** Object:  Default [DF_Entity_entitytypeoid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity] ADD  CONSTRAINT [DF_Entity_entitytypeoid]  DEFAULT (newid()) FOR [type]

/****** Object:  Default [DF_EntityAttachment_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityAttachment] ADD  CONSTRAINT [DF_EntityAttachment_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityCategory_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityCategory] ADD  CONSTRAINT [DF_EntityCategory_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityClassification_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityClassification] ADD  CONSTRAINT [DF_EntityClassification_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityStatus_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityStatus] ADD  CONSTRAINT [DF_EntityStatus_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityType_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityType] ADD  CONSTRAINT [DF_EntityType_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityTypeRelationship_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityTypeRelationship] ADD  CONSTRAINT [DF_EntityTypeRelationship_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF_EntityTypeSettings_oid]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityTypeSettings] ADD  CONSTRAINT [DF_EntityTypeSettings_oid]  DEFAULT (newid()) FOR [oid]

/****** Object:  Default [DF__IdentifierS__OID__7AE7E7AD]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegment] ADD  DEFAULT (newid()) FOR [OID]

/****** Object:  Default [DF__IdentifierS__OID__00A0C103]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegmentFormat] ADD  DEFAULT (newid()) FOR [OID]

/****** Object:  Default [DF__IdentifierS__OID__06599A59]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegmentValidEntry] ADD  DEFAULT (newid()) FOR [OID]

/****** Object:  Default [DF__IdentifierS__OID__7346C5E5]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierStructure] ADD  DEFAULT (newid()) FOR [OID]

/****** Object:  ForeignKey [FK_AttachmentCategory_ParentCategory]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[AttachmentCategory]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentCategory_ParentCategory] FOREIGN KEY([ParentCategory])
REFERENCES [dbo].[AttachmentCategory] ([oid])

ALTER TABLE [dbo].[AttachmentCategory] CHECK CONSTRAINT [FK_AttachmentCategory_ParentCategory]

/****** Object:  ForeignKey [FK_Entity_EntityCategory]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [FK_Entity_EntityCategory] FOREIGN KEY([Category])
REFERENCES [dbo].[EntityCategory] ([oid])

ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [FK_Entity_EntityCategory]

/****** Object:  ForeignKey [FK_Entity_EntityClassification]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [FK_Entity_EntityClassification] FOREIGN KEY([Classification])
REFERENCES [dbo].[EntityClassification] ([oid])

ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [FK_Entity_EntityClassification]

/****** Object:  ForeignKey [FK_Entity_EntityStatus]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [FK_Entity_EntityStatus] FOREIGN KEY([status])
REFERENCES [dbo].[EntityStatus] ([oid])

ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [FK_Entity_EntityStatus]

/****** Object:  ForeignKey [FK_Entity_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [FK_Entity_EntityType] FOREIGN KEY([type])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [FK_Entity_EntityType]

/****** Object:  ForeignKey [FK_EntityAttachment_Attachment]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityAttachment]  WITH CHECK ADD  CONSTRAINT [FK_EntityAttachment_Attachment] FOREIGN KEY([Attachment])
REFERENCES [dbo].[Attachment] ([oid])

ALTER TABLE [dbo].[EntityAttachment] CHECK CONSTRAINT [FK_EntityAttachment_Attachment]

/****** Object:  ForeignKey [FK_EntityAttachment_AttachmentCategory]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityAttachment]  WITH CHECK ADD  CONSTRAINT [FK_EntityAttachment_AttachmentCategory] FOREIGN KEY([AttachmentCategory])
REFERENCES [dbo].[AttachmentCategory] ([oid])

ALTER TABLE [dbo].[EntityAttachment] CHECK CONSTRAINT [FK_EntityAttachment_AttachmentCategory]

/****** Object:  ForeignKey [FK_EntityAttachment_Entity]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityAttachment]  WITH CHECK ADD  CONSTRAINT [FK_EntityAttachment_Entity] FOREIGN KEY([entity])
REFERENCES [dbo].[Entity] ([oid])

ALTER TABLE [dbo].[EntityAttachment] CHECK CONSTRAINT [FK_EntityAttachment_Entity]

/****** Object:  ForeignKey [FK_EntityCategory_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityCategory]  WITH CHECK ADD  CONSTRAINT [FK_EntityCategory_EntityType] FOREIGN KEY([EntityType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityCategory] CHECK CONSTRAINT [FK_EntityCategory_EntityType]

/****** Object:  ForeignKey [FK_EntityCategory_ParentCategory]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityCategory]  WITH CHECK ADD  CONSTRAINT [FK_EntityCategory_ParentCategory] FOREIGN KEY([ParentCategory])
REFERENCES [dbo].[EntityCategory] ([oid])

ALTER TABLE [dbo].[EntityCategory] CHECK CONSTRAINT [FK_EntityCategory_ParentCategory]

/****** Object:  ForeignKey [FK_EntityCategory_ParentClassification]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityClassification]  WITH CHECK ADD  CONSTRAINT [FK_EntityCategory_ParentClassification] FOREIGN KEY([ParentClassification])
REFERENCES [dbo].[EntityClassification] ([oid])

ALTER TABLE [dbo].[EntityClassification] CHECK CONSTRAINT [FK_EntityCategory_ParentClassification]

/****** Object:  ForeignKey [FK_EntityClassification_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityClassification]  WITH CHECK ADD  CONSTRAINT [FK_EntityClassification_EntityType] FOREIGN KEY([EntityType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityClassification] CHECK CONSTRAINT [FK_EntityClassification_EntityType]

/****** Object:  ForeignKey [FK_EntityStatus_EntityStatus]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityStatus]  WITH CHECK ADD  CONSTRAINT [FK_EntityStatus_EntityStatus] FOREIGN KEY([oid])
REFERENCES [dbo].[EntityStatus] ([oid])

ALTER TABLE [dbo].[EntityStatus] CHECK CONSTRAINT [FK_EntityStatus_EntityStatus]

/****** Object:  ForeignKey [FK_EntityStatus_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityStatus]  WITH CHECK ADD  CONSTRAINT [FK_EntityStatus_EntityType] FOREIGN KEY([EntityType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityStatus] CHECK CONSTRAINT [FK_EntityStatus_EntityType]

/****** Object:  ForeignKey [FK_EntityType_IdentifierStructure]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityType]  WITH CHECK ADD  CONSTRAINT [FK_EntityType_IdentifierStructure] FOREIGN KEY([IdentifierStructure])
REFERENCES [dbo].[IdentifierStructure] ([OID])

ALTER TABLE [dbo].[EntityType] CHECK CONSTRAINT [FK_EntityType_IdentifierStructure]

/****** Object:  ForeignKey [FK_EntityType_ParentType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityType]  WITH CHECK ADD  CONSTRAINT [FK_EntityType_ParentType] FOREIGN KEY([parenttype])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityType] CHECK CONSTRAINT [FK_EntityType_ParentType]

/****** Object:  ForeignKey [FK_EntityTypeRelationship_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityTypeRelationship]  WITH CHECK ADD  CONSTRAINT [FK_EntityTypeRelationship_EntityType] FOREIGN KEY([EntityType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityTypeRelationship] CHECK CONSTRAINT [FK_EntityTypeRelationship_EntityType]

/****** Object:  ForeignKey [FK_EntityTypeRelationship_RelatedType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityTypeRelationship]  WITH CHECK ADD  CONSTRAINT [FK_EntityTypeRelationship_RelatedType] FOREIGN KEY([RelatedType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityTypeRelationship] CHECK CONSTRAINT [FK_EntityTypeRelationship_RelatedType]

/****** Object:  ForeignKey [FK_EntityTypeSettings_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[EntityTypeSettings]  WITH CHECK ADD  CONSTRAINT [FK_EntityTypeSettings_EntityType] FOREIGN KEY([entitytypeoid])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[EntityTypeSettings] CHECK CONSTRAINT [FK_EntityTypeSettings_EntityType]

/****** Object:  ForeignKey [FK__Identifie__Ident__7BDC0BE6]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegment]  WITH CHECK ADD FOREIGN KEY([IdentifierStructure])
REFERENCES [dbo].[IdentifierStructure] ([OID])

/****** Object:  ForeignKey [FK_IdentifierSegment_EntityType]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegment]  WITH CHECK ADD  CONSTRAINT [FK_IdentifierSegment_EntityType] FOREIGN KEY([EntityType])
REFERENCES [dbo].[EntityType] ([oid])

ALTER TABLE [dbo].[IdentifierSegment] CHECK CONSTRAINT [FK_IdentifierSegment_EntityType]

/****** Object:  ForeignKey [FK__Identifie__Ident__0194E53C]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegmentFormat]  WITH CHECK ADD FOREIGN KEY([IdentifierSegment])
REFERENCES [dbo].[IdentifierSegment] ([OID])

/****** Object:  ForeignKey [FK__Identifie__Ident__074DBE92]    Script Date: 10/08/2020 13:50:36 ******/
ALTER TABLE [dbo].[IdentifierSegmentValidEntry]  WITH CHECK ADD FOREIGN KEY([IdentifierSegment])
REFERENCES [dbo].[IdentifierSegment] ([OID])


INSERT [dbo].[EntityType] ([oid], [id], [name], [parenttype], [IdentifierStructure]) VALUES (N'affc9204-d2b5-4eaa-afa6-1a416e9d2c02', N'Vendor                        ', N'Vendor                                                                                              ', NULL, NULL)
INSERT [dbo].[EntityType] ([oid], [id], [name], [parenttype], [IdentifierStructure]) VALUES (N'98fe78bc-2535-49d9-ac1b-326baa16b4ba', N'Style                         ', N'Style                                                                                               ', NULL, NULL)
INSERT [dbo].[EntityType] ([oid], [id], [name], [parenttype], [IdentifierStructure]) VALUES (N'6bb9c070-0bab-4fe3-a828-35b3e747ab54', N'Invoice                       ', N'AR Invoice                                                                                          ', NULL, NULL)


INSERT [dbo].[EntityStatus] ([oid], [ID], [description], [EntityType]) VALUES (N'd95d4e8f-d36f-492e-a9ca-0170d2630c23', N'PACKED                        ', N'Packed                                                                                              ', N'b68d46f0-43ae-4c22-8e9c-53307433b7ef')
INSERT [dbo].[EntityStatus] ([oid], [ID], [description], [EntityType]) VALUES (N'f2d5332a-64b6-4638-9d34-09b6c1888b2a', N'ACTIVE                        ', N'A - Active                                                                                          ', N'0751c5df-f457-4cbf-99d8-4af8d1b5abad')
INSERT [dbo].[EntityStatus] ([oid], [ID], [description], [EntityType]) VALUES (N'15c09103-9b97-4dcf-807a-1039ae923cb5', N'COMPLETE                      ', N'Complete                                                                                            ', N'2c37932b-24f8-4ba2-84dc-6fe41acd5751')
INSERT [dbo].[EntityStatus] ([oid], [ID], [description], [EntityType]) VALUES (N'4963c85d-f992-4267-a4f8-fe2a95aa9fae', N'C - COMPLETE                  ', N'Complete                                                                                            ', N'8a25c4f9-e847-469b-9c21-ca66018350c6')
*/