<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Aria.DataAccessLayer.Properties.Settings.System_MasterConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=System.Master;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup/></configuration>
