<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AriaObjectBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AriaObjectBrowser.Properties.Settings>
            <setting name="View" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFileNames" serializeAs="String">
                <value />
            </setting>
            <setting name="SortBy" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTaskPane" serializeAs="String">
                <value />
            </setting>
        </AriaObjectBrowser.Properties.Settings>
    </userSettings>
</configuration>