<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Endicia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Endicia.Properties.Settings>
            <setting name="Endicia_WS_EwsLabelService" serializeAs="String">
                <value>https://www.envmgr.com/LabelService/EwsLabelService.asmx</value>
            </setting>
        </Endicia.Properties.Settings>
    </applicationSettings>
</configuration>